/* based on modern skin */

/* the "current" property is used by XUL to mark the current node, so channel-tree
 * uses "channel-tree-current" to mark current view. although they will be usually
 * the same tree node */
tree#channel-tree > treechildren:-moz-tree-cell-text(channel-tree-current) {
    font-weight: bold;
}

tree#channel-tree > treechildren:-moz-tree-cell-text(superfluous) {
    color: darkblue;
}

tree#channel-tree > treechildren:-moz-tree-cell-text(activity) {
    color: darkgreen;
}

tree#channel-tree > treechildren:-moz-tree-cell-text(attention) {
    color: red;
}

